
.nav {
  display: flex;
  align-items: center;
}

.navigation-bar {
    background-color: transparent;
  }

.nav-link {
    font-family: 'Quicksand';
    font-weight: bolder;
    color: #E03F85 !important;
    padding-top: 15px;
    margin-inline-start: 30px;
  }

.logo-pic {
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 450px;
  }

